/************GÉNÉRIQUE************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************BASE***********/
body {
  font:
    1.125rem/160% "Frank Ruhl Libre",
    serif;
  color: #fff;
  background-color: #07020d;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/************MISE EN PAGE***********/

/************ÉLÉMENTS***********/
a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/************COMPONENTS***********/

/*header*/
.header {
  color: #07020d;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 10;
}

.header .wrapper {
  background-color: #fff;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 800px;
}

.logo {
  font-size: 1.875rem;
  color: inherit;
}

.material-symbols-outlined {
  font-size: 1.875rem;
}

/*Hero*/

.hero {
  height: 400px;
  background-image: url(../images/photos/mountains.jpg);
  background-size: cover;
}

/*contenu*/
.contenu {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contenu .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card img {
  border-radius: 10px;
}

.card .material-symbols-outlined {
  background-color: #07020d;
  color: #5db7de;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card .material-symbols-outlined:hover {
  background-color: #5db7de;
  color: #07020d;
}

.card {
  position: relative;
}

/*footer*/

.footer p {
  text-align: center;
}

.footer {
  background-color: #5db7de;
  font-size: 1.25rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

/*menu*/

.media {
  background-color: #272727;
  border-radius: 0 15px 0 15px;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 200px;
}

.media img {
  height: 40px;
  width: 40px;
  display: block;
}

.media ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 10px;
}

.media img:hover {
  position: relative;
  right: 3px;
}

.zoom {
  max-height: 80%;
  cursor: pointer;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.visible{
    display: flex;
}