/************GÉNÉRIQUE************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************BASE***********/
body {
  font:
    1.125rem/160% "Frank Ruhl Libre",
    serif;
  color: #fff;
  background-color: #07020d;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/************MISE EN PAGE***********/

/************ÉLÉMENTS***********/
a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/************COMPONENTS***********/

/*header*/
.header {
  color: #07020d;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 10;
}

.header .wrapper {
  background-color: #fff;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 800px;
}

.logo {
  font-size: 1.875rem;
  color: inherit;
}

.material-symbols-outlined {
  font-size: 1.875rem;
}

/*Hero*/

.hero {
  height: 400px;
  background-image: url(../images/photos/mountains.jpg);
  background-size: cover;
}

/*contenu*/
.contenu {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contenu .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px ;
}

.card img{
    border-radius: 10px;
}